{
    email {$ACME_EMAIL}
}

{$APP_DOMAIN} {
    encode zstd gzip
    reverse_proxy frontend:80
}

{$SUPABASE_DOMAIN} {
    encode zstd gzip
    reverse_proxy host.docker.internal:54321
}

{$EVOLUTION_DOMAIN} {
    encode zstd gzip
    reverse_proxy evolution-api:8081
}
